<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capaDatos.Properties.Settings.VetConnectionString"
            connectionString="Data Source=jean\sqlexpress;Initial Catalog=Vet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="capaDatos.Properties.Settings.VetConnectionString1"
            connectionString="Data Source=JEAN\SQLEXPRESS;Initial Catalog=Vet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>